n8n-password-reset-updated.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $input.first().json;\nconst email = $json.body.email;\n\nif (!email) {\n  return [{\n    json: {\n      success: false,\n      error: 'Email address required',\n      status: 400\n    }\n  }];\n}\n\n// Check if user exists (but don't reveal this info for security)\nif (!input || input.length === 0) {\n  return [{\n    json: {\n      success: true,\n      message: 'If an account with that email exists, a reset email has been sent',\n      user_exists: false,\n      status: 200\n    }\n  }];\n}\n\nconst userData = input[0] || input;\n\n// Generate cryptographically secure 32-byte hex token\nconst resetToken = crypto.randomBytes(32).toString('hex');\nconst resetExpires = new Date();\nresetExpires.setHours(resetExpires.getHours() + 1);\n\nconst resetUrl = `https://ui-theta-black.vercel.app/reset-password?token=${resetToken}`;\n\nreturn [{\n  json: {\n    success: true,\n    user_exists: true,\n    user_id: userData.id,\n    email: userData.email,\n    name: userData.name,\n    reset_token: resetToken,\n    reset_expires: resetExpires.toISOString(),\n    reset_url: resetUrl,\n    tenant: 'idudes',\n    status: 200\n  }\n}];"
      },
      "id": "8e59ad9c-4505-4a0b-8810-8ba18e5e9161",
      "name": "Generate Reset Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $json.reset_token;\nconst resetUrl = $json.reset_url;\nconst userName = $json.name || 'User';\nconst email = $json.email;\n\nconst passwordReset = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Password Reset</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; background-color: #f4f4f5;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f4f4f5; padding: 40px 20px;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n          <tr>\n            <td style=\"padding: 40px 40px 20px 40px; text-align: center; border-bottom: 1px solid #e5e7eb;\">\n              <h1 style=\"margin: 0; color: #111827; font-size: 24px; font-weight: 700;\">idudesRAG Knowledge Base</h1>\n              <p style=\"margin: 10px 0 0 0; color: #6b7280; font-size: 14px;\">Password Reset Request</p>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding: 40px;\">\n              <p style=\"margin: 0 0 20px 0; color: #374151; font-size: 16px; line-height: 24px;\">\n                Hi ${userName},\n              </p>\n              <p style=\"margin: 0 0 20px 0; color: #374151; font-size: 16px; line-height: 24px;\">\n                You recently requested to reset your password for your idudesRAG account. Click the button below to create a new password:\n              </p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 30px 0;\">\n                <tr>\n                  <td align=\"center\">\n                    <a href=\"${resetUrl}\" style=\"display: inline-block; padding: 14px 32px; background-color: #2563eb; color: #ffffff; text-decoration: none; border-radius: 6px; font-weight: 600; font-size: 16px;\">Reset Password</a>\n                  </td>\n                </tr>\n              </table>\n              <p style=\"margin: 20px 0 0 0; color: #6b7280; font-size: 14px; line-height: 20px;\">\n                Or copy and paste this link into your browser:\n              </p>\n              <p style=\"margin: 10px 0; padding: 12px; background-color: #f9fafb; border-radius: 4px; word-break: break-all;\">\n                <a href=\"${resetUrl}\" style=\"color: #2563eb; text-decoration: none; font-size: 14px;\">${resetUrl}</a>\n              </p>\n              <div style=\"margin-top: 30px; padding-top: 20px; border-top: 1px solid #e5e7eb;\">\n                <p style=\"margin: 0 0 10px 0; color: #6b7280; font-size: 14px; line-height: 20px;\">\n                  <strong>Important Security Information:</strong>\n                </p>\n                <ul style=\"margin: 0; padding-left: 20px; color: #6b7280; font-size: 14px; line-height: 20px;\">\n                  <li style=\"margin-bottom: 8px;\">This link will expire in 1 hour</li>\n                  <li style=\"margin-bottom: 8px;\">If you didn't request this reset, please ignore this email and your password will remain unchanged</li>\n                  <li style=\"margin-bottom: 8px;\">Never share this link with anyone</li>\n                </ul>\n              </div>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding: 30px 40px; background-color: #f9fafb; border-top: 1px solid #e5e7eb; border-radius: 0 0 8px 8px;\">\n              <p style=\"margin: 0; color: #9ca3af; font-size: 12px; line-height: 18px; text-align: center;\">\n                This is an automated message from ContentOpsAssistant. Please do not reply to this email.\n              </p>\n              <p style=\"margin: 10px 0 0 0; color: #9ca3af; font-size: 12px; line-height: 18px; text-align: center;\">\n                © ${new Date().getFullYear()} The iDudes. All rights reserved.\n              </p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>`;\n\nreturn {\n  ...($json),\n  passwordReset\n};"
      },
      "id": "build-password-reset-email",
      "name": "Build Password Reset Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        48
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Password Reset - idudesRAG Knowledge Base",
        "emailType": "html",
        "message": "={{ $json.passwordReset }}",
        "options": {
          "appendAttribution": false,
          "senderName": "ContentOpsAssistant",
          "replyTo": "noreply@theidudes.com"
        }
      },
      "id": "fb5afa31-675e-4018-86df-f0a08837de9d",
      "name": "Send Reset Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        200,
        48
      ],
      "webhookId": "91640edd-15bd-4dae-b27e-aa19e781d52b",
      "credentials": {
        "gmailOAuth2": {
          "id": "WklU4pXOpKmeTxHM",
          "name": "craig@theidudes.com"
        }
      }
    }
  ],
  "connections": {
    "Generate Reset Token": {
      "main": [
        [
          {
            "node": "Build Password Reset Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Password Reset Email": {
      "main": [
        [
          {
            "node": "Send Reset Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4bb33feb86ca4f5fc513a2380388fe9bf2c23463bf38edc4be554b00c909d710"
  }
}
