json-flows/03-auth-reset-password.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/auth/reset-password",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "70d5df70-6e64-4eb5-b117-9db4b6916814",
      "name": "Webhook - Reset Password",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -800,
        48
      ],
      "webhookId": "idudesrag-auth-reset"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, name FROM core.users WHERE email = $1",
        "options": {
          "queryReplacement": "={{ $json.body.email }}"
        }
      },
      "id": "f47e2ce3-9fdb-428f-a1c5-62ec77e90d5a",
      "name": "Check User Exists",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -352,
        -96
      ],
      "credentials": {
        "postgres": {
          "id": "jd4YBgZXwugV4pZz",
          "name": "RailwayPG-idudes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $input.first().json;\nconst email = $json.body.email;\n\nif (!email) {\n  return [{ json: { success: false, error: 'Email address required', status: 400 } }];\n}\n\n// If user not found, return generic success to avoid user enumeration\nif (!input || input.length === 0) {\n  return [{ json: { success: true, message: 'If an account with that email exists, a reset email has been sent', user_exists: false, status: 200 } }];\n}\n\nconst userData = input[0] || input;\n\n// Generate secure token and store hash in workflow static data (in-memory) per SOT 10-12-25\nconst resetToken = crypto.randomBytes(32).toString('hex');\nconst tokenHash = crypto.createHash('sha256').update(resetToken).digest('hex');\nconst resetExpires = new Date();\nresetExpires.setHours(resetExpires.getHours() + 1);\n\nconst staticData = this.getWorkflowStaticData('global');\nstaticData.resetTokens = staticData.resetTokens || {};\nstaticData.resetTokens[tokenHash] = { user_id: userData.id, email: userData.email, expires_at: resetExpires.toISOString() };\n\n// Build reset URL from request host to avoid env drift\nconst host = $('Webhook - Reset Password').item.json.headers['x-forwarded-host'] || $('Webhook - Reset Password').item.json.headers['host'];\nconst protocol = $('Webhook - Reset Password').item.json.headers['x-forwarded-proto'] || 'https';\nconst resetUrl = `${protocol}://${host}/reset-password?token=${resetToken}`;\n\nreturn [{ json: { success: true, user_exists: true, user_id: userData.id, email: userData.email, name: userData.name, reset_token: resetToken, reset_token_hash: tokenHash, reset_expires: resetExpires.toISOString(), reset_url: resetUrl, tenant: 'idudes', status: 200 } }];"
      },
      "id": "8e59ad9c-4505-4a0b-8810-8ba18e5e9161",
      "name": "Generate Reset Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        64
      ]
    },
    
    {
      "parameters": {
        "sendTo": "={{ $json.body.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.passwordReset }}",
        "options": {
          "appendAttribution": false,
          "senderName": "ContentOpsAssistant",
          "replyTo": "noreply@theidudes.com"
        }
      },
      "id": "fb5afa31-675e-4018-86df-f0a08837de9d",
      "name": "Send Reset Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        128
      ],
      "webhookId": "91640edd-15bd-4dae-b27e-aa19e781d52b",
      "credentials": {
        "gmailOAuth2": {
          "id": "WklU4pXOpKmeTxHM",
          "name": "craig@theidudes.com"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"If an account with that email exists, a reset email has been sent\"\n} }}",
        "options": {}
      },
      "id": "eb215ab7-48fd-4cdd-a4c9-b0ac543ea2ea",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        704,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO core.auth_logs (tenant, email, action, status, ip_address, user_agent, created_at) VALUES ($1, $2, $3, $4, $5, $6, NOW() AT TIME ZONE 'America/Phoenix')",
        "options": {
          "queryReplacement": "=idudes\n{{ $('Webhook - Reset Password').item.json.body.email }}\npassword_reset_request\n{{ $json.user_exists ? 'email_sent' : 'user_not_found' }}\n{{ $('Webhook - Reset Password').item.json.headers['x-forwarded-for'] || $('Webhook - Reset Password').item.json.headers['x-real-ip'] || 'unknown' }}\n{{ $('Webhook - Reset Password').item.json.headers['user-agent'] || 'unknown' }}"
        }
      },
      "id": "fed83bab-e406-48b7-847b-7767423344b5",
      "name": "Log Reset Request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        704,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "jd4YBgZXwugV4pZz",
          "name": "RailwayPG-idudes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This node handles cases where user doesn't exist\n// It still returns success for security (don't reveal user existence)\nconst email = $('Webhook - Reset Password').item.json.body.email;\n\nreturn [{\n  json: {\n    success: true,\n    message: 'If an account with that email exists, a reset email has been sent',\n    user_exists: false,\n    email: email,\n    tenant: 'idudes',\n    status: 200\n  }\n}];"
      },
      "id": "2f773e5b-db8d-4676-9cf9-3f5a28951cda",
      "name": "Handle Non-Existent User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        208
      ]
    },
    
    {
      "parameters": {
        "jsCode": "const token = $json.reset_token;\nconst resetUrl = $json.reset_url;\nconst userName = $json.name || 'User';\nconst email = $json.email;\n\nconst passwordReset = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Password Reset</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; background-color: #f4f4f5;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #f4f4f5; padding: 40px 20px;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n          <tr>\n            <td style=\"padding: 40px 40px 20px 40px; text-align: center; border-bottom: 1px solid #e5e7eb;\">\n              <h1 style=\"margin: 0; color: #111827; font-size: 24px; font-weight: 700;\">idudesRAG Knowledge Base</h1>\n              <p style=\"margin: 10px 0 0 0; color: #6b7280; font-size: 14px;\">Password Reset Request</p>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding: 40px;\">\n              <p style=\"margin: 0 0 20px 0; color: #374151; font-size: 16px; line-height: 24px;\">\n                Hi ${userName},\n              </p>\n              <p style=\"margin: 0 0 20px 0; color: #374151; font-size: 16px; line-height: 24px;\">\n                You recently requested to reset your password for your idudesRAG account. Click the button below to create a new password:\n              </p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 30px 0;\">\n                <tr>\n                  <td align=\"center\">\n                    <a href=\"${resetUrl}\" style=\"display: inline-block; padding: 14px 32px; background-color: #2563eb; color: #ffffff; text-decoration: none; border-radius: 6px; font-weight: 600; font-size: 16px;\">Reset Password</a>\n                  </td>\n                </tr>\n              </table>\n              <p style=\"margin: 20px 0 0 0; color: #6b7280; font-size: 14px; line-height: 20px;\">\n                Or copy and paste this link into your browser:\n              </p>\n              <p style=\"margin: 10px 0; padding: 12px; background-color: #f9fafb; border-radius: 4px; word-break: break-all;\">\n                <a href=\"${resetUrl}\" style=\"color: #2563eb; text-decoration: none; font-size: 14px;\">${resetUrl}</a>\n              </p>\n              <div style=\"margin-top: 30px; padding-top: 20px; border-top: 1px solid #e5e7eb;\">\n                <p style=\"margin: 0 0 10px 0; color: #6b7280; font-size: 14px; line-height: 20px;\">\n                  <strong>Important Security Information:</strong>\n                </p>\n                <ul style=\"margin: 0; padding-left: 20px; color: #6b7280; font-size: 14px; line-height: 20px;\">\n                  <li style=\"margin-bottom: 8px;\">This link will expire in 1 hour</li>\n                  <li style=\"margin-bottom: 8px;\">If you didn't request this reset, please ignore this email and your password will remain unchanged</li>\n                  <li style=\"margin-bottom: 8px;\">Never share this link with anyone</li>\n                </ul>\n              </div>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding: 30px 40px; background-color: #f9fafb; border-top: 1px solid #e5e7eb; border-radius: 0 0 8px 8px;\">\n              <p style=\"margin: 0; color: #9ca3af; font-size: 12px; line-height: 18px; text-align: center;\">\n                This is an automated message from ContentOpsAssistant. Please do not reply to this email.\n              </p>\n              <p style=\"margin: 10px 0 0 0; color: #9ca3af; font-size: 12px; line-height: 18px; text-align: center;\">\n                © ${new Date().getFullYear()} The iDudes. All rights reserved.\n              </p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>`;\n\nreturn {\n  ...($json),\n  passwordReset\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -96
      ],
      "id": "b15dec1c-c000-44fc-bcaf-66260fd53cac",
      "name": "buildEmail"
    }
  ],
  "connections": {
    "Webhook - Reset Password": {
      "main": [
        [
          {
            "node": "Check User Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Reset Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Exists": {
      "main": [
        [
          {
            "node": "Generate Reset Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reset Token": {
      "main": [
        [
          {
            "node": "Handle Non-Existent User",
            "type": "main",
            "index": 0
          },
          
          {
            "node": "buildEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    
    "Send Reset Email": {
      "main": [
        [
          {
            "node": "Log Reset Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Non-Existent User": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Reset Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buildEmail": {
      "main": [
        [
          {
            "node": "Send Reset Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook - Reset Password": [
      {
        "headers": {
          "host": "ai.thirdeyediagnostics.com",
          "user-agent": "curl-test",
          "content-length": "31",
          "accept": "*/*",
          "content-type": "application/json",
          "x-forwarded-for": "134.209.72.79",
          "x-forwarded-host": "ai.thirdeyediagnostics.com",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "19aa899c4cf2",
          "x-real-ip": "134.209.72.79",
          "accept-encoding": "gzip"
        },
        "params": {},
        "query": {},
        "body": {
          "email": "craig@theidudes.com"
        },
        "webhookUrl": "https://ai.thirdeyediagnostics.com/webhook/auth/reset-password",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4bb33feb86ca4f5fc513a2380388fe9bf2c23463bf38edc4be554b00c909d710"
  }
}
