json-flows/11-ghl-post-scheduler.json
{
  "name": "11 - GHL Post Scheduler & Feedback Loop (A+)",
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "m1",
      "name": "Schedule Trigger (Daily 6AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      }
    },
    {
      "id": "m2",
      "name": "Get Today's Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "RailwayPG-idudes"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, day_number, episode_title, topic_title, instagram_content, facebook_content, linkedin_content, schedule_data,\n (schedule_data->>'post_date')::date AS post_date\nFROM core.social_content_generated\nWHERE status='pending_schedule' AND (schedule_data->>'post_date')::date = CURRENT_DATE\nORDER BY day_number ASC;"
      }
    },
    {
      "id": "m3",
      "name": "Loop Through Posts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        700,
        300
      ],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "m4",
      "name": "Prepare Post Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        300
      ],
      "parameters": {
        "jsCode": "const sc=$json.schedule_data? (typeof $json.schedule_data==='string'? JSON.parse($json.schedule_data):$json.schedule_data):{};\nconst ts=(o,defH)=>{const d=new Date(); d.setUTCHours((o?.hour??defH),(o?.minute??0),0,0); return d.toISOString();};\nreturn {\n content_id:$json.id,\n day_number:$json.day_number,\n episode_title:$json.episode_title,\n instagram_content:$json.instagram_content,\n instagram_schedule: ts(sc.instagram,9),\n facebook_content:$json.facebook_content,\n facebook_schedule: ts(sc.facebook,10),\n linkedin_content:$json.linkedin_content,\n linkedin_schedule: ts(sc.linkedin,11)\n};"
      }
    },
    {
      "id": "m5",
      "name": "Update Database Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "RailwayPG-idudes"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE core.social_content_generated\nSET status = 'scheduled', posted_at = NOW(), updated_at = NOW()\nWHERE id = $1::uuid\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ [$json.content_id] }}"
        }
      }
    },
    {
      "id": "m6",
      "name": "Loop Check",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1380,
        300
      ],
      "parameters": {}
    },
    {
      "id": "m7",
      "name": "Track Scheduling Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1600,
        260
      ],
      "credentials": {
        "postgres": {
          "name": "RailwayPG-idudes"
        }
      },
      "parameters": {
        "operation": "insert",
        "schema": "core",
        "table": "metrics",
        "columns": {
          "mappings": [
            {
              "column": "metric_name",
              "value": "social_posts_marked_scheduled"
            },
            {
              "column": "metric_value",
              "value": "1"
            },
            {
              "column": "tags",
              "value": "={{ JSON.stringify({ workflow:'ghl_scheduler', date: new Date().toISOString().split('T')[0] }) }}"
            }
          ]
        }
      }
    },
    {
      "id": "w1",
      "name": "Weekly Insights Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        600
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": 1,
              "triggerAtHour": 8
            }
          ]
        }
      }
    },
    {
      "id": "w2",
      "name": "Get Top Insights",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        480,
        600
      ],
      "credentials": {
        "postgres": {
          "name": "RailwayPG-idudes"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pattern_type, pattern_description, avg_engagement_rate, sample_size, recommendation, confidence_score, platform, topic_category\nFROM core.social_feedback_insights\nWHERE status='active' AND confidence_score>=7.0\nORDER BY avg_engagement_rate DESC, confidence_score DESC\nLIMIT 10;"
      }
    },
    {
      "id": "w3",
      "name": "Format Insights Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        600
      ],
      "parameters": {
        "jsCode": "const rows=$input.all().map(i=>i.json);\nif(!rows.length) return { report: 'No high-confidence insights available yet.', insights_count: 0, avg_engagement: 0 };\nlet r='# WEEKLY SOCIAL MEDIA PERFORMANCE INSIGHTS\\n\\n'; r+=`Generated: ${new Date().toISOString().split('T')[0]}\\n\\n`;\nlet sum=0; for(const x of rows){ sum += (x.avg_engagement_rate||0); const pct=((x.avg_engagement_rate||0)*100).toFixed(2);\n r+=`## ${(x.pattern_type||'pattern').toString().replace(/_/g,' ').toUpperCase()}\\n\\n`;\n r+=`Pattern: ${x.pattern_description}\\n`;\n r+=`Avg Engagement: ${pct}%\\n`;\n r+=`Sample Size: ${x.sample_size} posts\\n`;\n r+=`Confidence: ${x.confidence_score}/10\\n`;\n if (x.platform) r+=`Platform: ${x.platform}\\n`;\n if (x.topic_category) r+=`Category: ${x.topic_category}\\n`;\n r+='\\nRecommendation: '+(x.recommendation||'')+'\\n\\n---\\n\\n'; }\nreturn { report: r, insights_count: rows.length, avg_engagement: sum/rows.length };"
      }
    },
    {
      "id": "w4",
      "name": "Track Insights Generation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        920,
        600
      ],
      "credentials": {
        "postgres": {
          "name": "RailwayPG-idudes"
        }
      },
      "parameters": {
        "operation": "insert",
        "schema": "core",
        "table": "metrics",
        "columns": {
          "mappings": [
            {
              "column": "metric_name",
              "value": "weekly_insights_generated"
            },
            {
              "column": "metric_value",
              "value": "={{ $json.insights_count }}"
            },
            {
              "column": "tags",
              "value": "={{ JSON.stringify({ avg_engagement: $json.avg_engagement, report_length: $json.report.length }) }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (Daily 6AM)": {
      "main": [
        [
          {
            "node": "Get Today's Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Posts": {
      "main": [
        [
          {
            "node": "Loop Through Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Posts": {
      "main": [
        [
          {
            "node": "Prepare Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Post Data": {
      "main": [
        [
          {
            "node": "Update Database Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Database Status": {
      "main": [
        [
          {
            "node": "Loop Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Check": {
      "main": [
        [
          {
            "node": "Loop Through Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Track Scheduling Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Insights Trigger": {
      "main": [
        [
          {
            "node": "Get Top Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top Insights": {
      "main": [
        [
          {
            "node": "Format Insights Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Insights Report": {
      "main": [
        [
          {
            "node": "Track Insights Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "updatedAt": "2025-10-12T22:26:41.611641Z"
}